  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div> 
  <% end %>
  	
	<%= render partial:"inputBusca"  %>

	<h1>Bem Vindo a página inicial do blog</h1>

		<h4>Categorias:</h4>
			<% @categories.each do |category| %>
				|<%= category.id %> - 
				<%= category.name %>|
			<% end %>

		<h3>Últimas Notícias</h3>

			<div class="row">
				<%= render @posts %>
			</div>