<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<%= link_to 'Editar', edit_post_path(@post), class:"btn btn-warning button_tables" %> |
<%= link_to 'Deletar', @post, method: :delete, data: { confirm: "Tem certeza que deseja deletar o post '#{@post.name}'? " }, class:"btn btn-danger button_tables" %> |
<%= link_to 'Voltar', posts_path, class:"btn btn-default" %>
