    <% @category.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>   

    <%= form_for(@category) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Nome" %><br>
        <%= f.text_field :name, class:"form-control" %>
      </div>
     
        <%= f.submit texto_da_acao, class:"btn btn-primary" %>
      
    <% end %>
