<!DOCTYPE html>
<html>
<head>
  <title>MiniBlogRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<%= nav_bar brand: "Meu Blog", brand_link: root_path, responsive: true do %>
		    <%= menu_group do %>
		        <%= menu_item "Home", root_path %>
		        <%= menu_item "Categorias", categories_path %>
		        <%= menu_item "Posts", posts_path %>		        
		    <% end %>
		  
		<% end %>

		<%= yield %>

</body>
</html>
